# Thư mục của Visual Studio
.vs/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
*.spec

# Cache file
suggested_tasks_cache.json

# Môi trường ảo
venv/
ENV/
.env

# Cấu hình IDE khác (nếu có)
.vscode/
.idea/